{% block date_widget %}
    <div class="input-group date">
        {% set type = 'text' %}
        {% set attr = attr|merge({'autocomplete': 'off'}) %}
        {{- block('form_widget_simple') -}}
        <span class="input-group-append">
            <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
        </span>
    </div>
{% endblock %}

{% block date_javascript %}
    <script type="text/javascript">
        (function ($) {
            var $field = $(document.getElementById({{ id|json_encode|raw }}));

            {% block date_javascript_prototype %}
            var datepicker = new Imatic.Form.Datepicker($field, {
                pickDate: {{ pick_date ? 'true' : 'false' }},
                pickTime: {{ pick_time ? 'true' : 'false' }},
                config: {{ config|json_encode(constant('JSON_FORCE_OBJECT'))|raw }},
                configLocale: {{ config_locale|json_encode(constant('JSON_FORCE_OBJECT'))|raw }},
                defaultLocale: Imatic.View.App.getLocale(),
                dateFormat: {{ date_format|json_encode|raw }},
                dateTimeFormat: {{ date_time_format|json_encode|raw }},
                timeFormat: {{ time_format|json_encode|raw }},
            });

            datepicker.apply();
            {% endblock %}
        })(jQuery);
    </script>
{% endblock %}

{% block datetime_widget block('date_widget') %}
{% block datetime_javascript block('date_javascript') %}
{% block datetime_javascript_prototype block('date_javascript_prototype') %}

{% block time_widget block('date_widget') %}
{% block time_javascript block('date_javascript') %}
{% block time_javascript_prototype block('date_javascript_prototype') %}
